<ion-view view-title="กรมที่ดิน">
  <ion-content  >
    <div class="top-nav">
      <div class="col-100" style="float: left;">
        <div style="float: left;display:block;width: 40px;">
          <img src="img/icon-aim.png" style="width: 30px;margin: 10px;">
        </div>
        <div style="float: right;display:block;width: 80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;">
          {{locname}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>
          {{locname2}}
        </div>
      </div>

    </div>


  </ion-content>
  <ion-content data-tap-disabled="true" style="margin-top: 50px;">
    <div class="curentloc" ng-click="locate();"><i
      class="ion-navigate" style="z-index: 10000;"></i></div>
    <leaflet defaults="map.defaults" layers="map.layers" center="map.center" markers="map.markers" ng-if="map">
    </leaflet>
    </ion-content>
</ion-view>
