<ion-view view-title="รายละเอียด">

  <ion-content data-tap-disabled="true">
    <div class="list">
      <label class="item item-input"  ng-repeat="(key, metadetail) in meta">
        <span class="input-label">{{metadetail.meta_title}}</span>



        <input ng-if="metadetail.meta_type == 'STRING'" type="text" placeholder="กรุณาระบุ"   name="txtmeta[]"
               ng-value="mapval(eatchfield, metadetail.meta_title)"  >
        <input ng-if="metadetail.meta_type == 'INTEGER'" type="number" placeholder="กรุณาระบุ"   name="txtmeta[]" >
        <input ng-if="metadetail.meta_type == 'DOUBLE'" type="number" placeholder="กรุณาระบุ"   name="txtmeta[]" >
      </label>

    </div>
  </ion-content>
  <div class="panel-bottom">
    <button class="btn-block" style="background: #FF8030;width: 100%;" ng-click="savedate()">บันทึก/แก้ไข</button>
  </div>
</ion-view>
