<ion-view view-title="รายละเอียด">

  <ion-content data-tap-disabled="true">
    <ul class="list">
      <li class="item">
        <strong>หมายเลขระวาง : </strong>5542 II 6426
      </li>
      <li class="item">
        <strong>เลขที่ดิน : </strong>95
      </li>
      <li class="item">
        <strong>เลขโฉนดที่ดิน : </strong>123456
      </li>
      <li class="item">
        <strong>หน้าสำรวจ  : </strong>2328
      </li>
      <li class="item">
        <strong>ตำบล : </strong>บ้านค้อ
      </li>
      <li class="item">
        <strong>อำเภอ : </strong>เมืองขอนแก่น
      </li>
      <li class="item">
        <strong>จังหวัด : </strong>ขอนแก่น
      </li>
      <li class="item">
        <strong>สำนักงานที่ดิน : </strong>สำนักงานที่ดินจังหวัดขอนแก่น
      </li>
      <li class="item">
        <strong>ราคาประเมินรายแปลงกรมธนารักษ์  : </strong><br>กรุณาตรวจสอบข้อมูลผ่านทาง <br> <a  href="#" onclick="window.open('http://property.treasury.go.th/pvmwebsite/index.asp', '_system', 'location=yes'); return false;">เว็บไซต์กรมธนารักษ์</a>
      </li>
      <li class="item">
        <strong>ค่าพิกัดแปลง  : </strong><a  href="#" onclick="window.open('http://maps.google.com/?q=16.5240096,102.8022409', '_system', 'location=yes'); return false;">16.5240096,102.8022409</a>
      </li>

    </ul>
  </ion-content>
  <div class="panel-bottom">
    <button class="btn-block" style="float: left;background: #FF8030;">นำทางไปที่สำนักงาน</button>
    <button class="btn-block" style="float: right;background: #2E938A;">นำทางไปที่ดิน</button>
  </div>
</ion-view>
