<ion-view view-title="{{title}}">
  <ion-nav-buttons side="right">
    <button ng-click="actionsheetshow();" class="button button-icon icon ion-more rotate-90"
            style="color: #fff;"></button>
  </ion-nav-buttons>
  <ion-content data-tap-disabled="true">
    <div class="mode">{{modestatus}}</div>
    <div class="toptool" ng-if="modestatus == 'โหมดเพิ่มข้อมูล'">
      <button ng-click="activetool('POLYGON')"><img src="img/ic_polygon.png"></button>
      <button ng-click="activetool('LINE')"><img src="img/ic_line.png"></button>
      <button ng-click="activetool('POINT')"><img src="img/ic_point.png"></button>
    </div>


    <div class="curentloc" ng-click="locate();"><i
      class="ion-navigate" style="z-index: 10000;"></i></div>
    <leaflet defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map">
    </leaflet>
  </ion-content>
</ion-view>
