<ion-view view-title="{{title}}">
  <ion-nav-buttons side="right">
    <button ng-click="actionsheetshow();" class="button button-icon icon ion-more rotate-90"
            <!--style="color: #fff;"></button>
  </ion-nav-buttons>
  <ion-content data-tap-disabled="true" style="margin-bottom:50px">

<div id="status" ng-if="iscopy == true">
<center><span style="color:red;">กำลังคัดลอก Layer</span></center>
</div>
    <div class="toptool" ng-if="modestatus == 'โหมดเพิ่มข้อมูล'">
      <button ng-if="layer_type == 'POLYGON'" ng-click="activetool('POLYGON')"><img src="img/ic_polygon.png"></button>
      <button ng-if="layer_type == 'LINE'" ng-click="activetool('LINE')"><img src="img/ic_line.png"></button>
      <button ng-if="layer_type == 'POINT'" ng-click="activetool('POINT')"><img src="img/ic_point.png"></button>
    </div>


    <div class="curentloc" ng-click="locate();"><i
      class="ion-navigate" style="z-index: 10000;"></i></div>
    <leaflet   id="map" defaults="map.defaults" paths="map.paths" layers="map.layers" center="map.center" markers="map.markers" ng-if="map" >
             <div class="center-pin" style="z-index:999">
              <img src="img/icon-aim.png">
            </div>
    </leaflet>
    
  </ion-content>
  <div ng-if="modestatus == 'โหมดเพิ่มข้อมูล'" class="login-bottom text-center" menu-close
       style="display: block;">
    <p style="padding: 15px; background: #ee3a0d; width: 33.33%; float: left; margin: 0px;" ng-click="addpoint(0)">
      เพิ่มจุด</p>
    <p style="padding: 15px; background: #3acc6d; width: 33.33%; float: left; margin: 0px;" ng-click="addpoint(1)">
      ต่อไป</p>
    <p style="padding: 15px; background:#ddd; width: 33.33%; float: left; margin: 0px;" ng-click="addpoint(-1)">
      เริ่มใหม่</p>
  </div>
  <div ng-if="modestatus != 'โหมดเพิ่มข้อมูล'" class="login-bottom text-center" menu-close
       style="display: block;"> 
    <p style="padding: 15px; background:#000; width: 100%; float: left; margin: 0px;" ng-click="back()">
      ย้อนกลับ</p>
  </div>
</ion-view>
