<ion-view view-title="ซิงค์ข้อมุล">
  <ion-content>
    <div class="list">

      <label class="item item-input item-icon-right">
        <div class="input-label">
          ข้อมูลแผนที่นำเข้า
        </div>
        <i class="icon ion-ios-cloud-upload"></i>
        <span class="badge badge-assertive badge-top-right">{{allprogress}}</span>
      </label>




    </div>
  </ion-content>
  <div class="panel-bottom">
    <button class="btn-block" ng-click="doSync()" style="width: 100% !important;background: #55A4FF;"><i style="font-size: 32px;"
                                                                                     class="icon ion-ios-loop"> </i>
      เริ่มซิงค์ข้อมูล
    </button>
  </div>
</ion-view>
