# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.DS_Store
.idea/inspectionProfiles/
.idea/workspace.xml
res/
resources/.DS_Store
resources/android/.DS_Store
resources/ios/.DS_Store
resources/ios/icon/icon-40@3x.png
resources/ios/icon/icon-83.5@2x.png
www/.DS_Store
www/css/.DS_Store
www/css/images/
www/css/ionicons-2.0.1/.DS_Store
www/css/ionicons-2.0.1/builder/scripts/.DS_Store
www/directives/.DS_Store
www/lib/Bing.js
www/templates/maplayerlist.html
